<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    {include file='layout/header'}
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>调货</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" name="userEdit" id="userEdit" method="post"
                          action="{:url('update')}">
                        <input type="hidden" name="id" value="{$order.id}">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">说明：</label>
                            <div class="input-group col-sm-4">
                                <p class="form-control-static">{$order.remark}</p>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        {foreach $product as $v}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品名称：</label>
                            <div class="input-group col-sm-4">
                                <p class="form-control-static">{$v.product.title}</p>
                            </div>
                            <label class="col-sm-3 control-label">商品数量：</label>
                            <div class="input-group col-sm-4">
                                <p class="form-control-static">{$v.num}</p>
                            </div>
                            <label class="col-sm-3 control-label">操作：</label>
                            <div class="input-group col-sm-4">
                                <input id="title" type="text" class="form-control" name="product[{$v.id}]"  aria-required="true" value="">
                                <span class="help-block m-b-none" style="margin-top: 40px">根据调货说明做加减操作，示例 +25或-25，不做变动时请留空</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        {/foreach}
                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-3 control-label">状&nbsp;态：</label>-->
                            <!--<div class="input-group col-sm-4">-->
                                <!--<div class="radio i-checks">-->
                                    <!--<label>-->
                                        <!--<input style="margin-top: 2px;" type="radio" name='status' value="1" {$order.status==1?'checked':''}/>以调货&nbsp;&nbsp;-->
                                    <!--</label>-->
                                    <!--<label>-->
                                        <!--<input style="margin-top: 2px;" type="radio" name='status' value="2" {$order.status==2?'checked':''}/>取消调货-->
                                    <!--</label>-->
                                    <!--<label>-->
                                        <!--<input style="margin-top: 2px;" id="di" type="radio" name='status' value="0" {$order.status==0?'checked':''}/>待调货-->
                                    <!--</label>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i>
                                    返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
{include file='layout/footer'}
<script type="text/javascript">
    $(function(){
        $('#userEdit').ajaxForm({
            beforeSubmit: checkForm,
            success: complete,
            dataType: 'json'
        });

        function checkForm(){
            // if ($('#di').is(':checked')) {
            //     layer.msg('请选择以调货或取消调货', {icon: 5, time: 1500, shade: 0.1}, function (index) {
            //         layer.close(index);
            //     });
            //     return false;
            // }
        }


        function complete(data){
            if(data.code==1){
                layer.msg(data.msg, {icon: 6,time:1500,shade: 0.1}, function(index){
                    window.location.href="{:url('exchange_goods/index')}";
                });
            }else{
                layer.msg(data.msg, {icon: 5,time:1500,shade: 0.1});
                return false;
            }
        }

    });
</script>
</html>