<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    {include file='layout/header'}
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>订货列表</h5>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->
            <div class="row">
                <div class="col-sm-12">
                    <form name="admin_list_sea" class="form-search" method="post" action="{:url('index')}">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="text" id="key" class="form-control" name="key" value="{$val}"
                                       placeholder="输入需查询的订单号"/>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary"><i
                                            class="fa fa-search"></i> 搜索</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--搜索框结束-->
            <div class="hr-line-dashed"></div>
            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover text-center">
                        <thead>
                        <tr class="text-center">
                            <th width="10%">订单号</th>
                            <th width="10%">用户</th>
                            <th width="10%">商品</th>
                            <th width="5%">台数</th>
                            <th >箱数</th>
                            <th width="5%">商品（台/箱）价</th>
                            <th width="5%">总价</th>
                            <th width="10%">订单备注</th>
                            <th width="10%">支付时间</th>
                            <th width="10%">支付订单号</th>
                            <th width="10%">下单时间</th>
                            <th width="5%">状态</th>
                            <!--<th width="20%">操作</th>-->
                        </tr>
                        </thead>

                        <script id="list-template" type="text/html">

                        </script>
                        <tbody id="list-content">
                        {volist name="data" id="v"}
                        <tr class="long-td">
                            <td>{$v.no}</td>
                            <td>
                                <a href="javascript:void(0)" onclick="user_show('{$v->user->nickname}','userShow?id={$v->user->id}','10001','480','320')">
                                    <img alt="image" width="50px" class="img-circle" src="{$v.user.avatar}">
                                </a>
                                <span>{$v.user->real_name}</span>
                            </td>
                            <td>{$v.product.title}</td>
                            <td>{$v.num}</td>
                            <td>{$v.box_num}</td>
                            <td>{$v.price}</td>
                            <td>{$v.total_price}</td>
                            <td>{$v.remark}</td>
                            <td>{$v.paid_at==0?'':$v.paid_at|date='Y-m-d H:i:s'}</td>
                            <td>{$v.payment_no}</td>
                            <td>{$v.create_time|date='Y-m-d H:i:s'}</td>
                            <td>
                                {if condition="$v.status==1"}
                                <a href="javascript:;">
                                    <div id="zd{$v.id}"><span class="label label-info">已完成</span></div>
                                </a>
                                {elseif condition="$v.status==0"/}
                                <a href="javascript:;" onclick="status({$v.id},{$v.status});">
                                    <div id="zd{$v.id}"><span class="label label-danger">待补货</span></div>
                                </a>
                                {else/}
                                <a href="javascript:;">
                                    <div id="zd{$v.id}"><span class="label label-default">已取消</span></div>
                                </a>
                                {/if}
                            </td>
                            <!--<td>-->
                                <!--<a href="javascript:;" onclick="edit({$v.id})" class="btn btn-primary btn-xs btn-outline">-->
                                    <!--<i class="fa fa-paste"></i> 手动完成</a>-->
                            <!--</td>-->
                        </tr>
                        {/volist}

                        </tbody>
                    </table>
                    <div id="AjaxPage" style="text-align:right;">{$data|raw}</div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- 加载动画 -->


{include file="layout/footer" /}
<script>

    //编辑文章
    function edit(id) {
        location.href = './edit/id/' + id + '.html';
    }

    //删除文章
    function del(id) {
        lunhui.confirm(id, '{:url("destroy")}');
    }

    function user_show(title,url,id,w,h){
        layer.open({
            type: 2,
            area: [w+'px', h +'px'],
            fix: false, //不固定
            maxmin: true,
            shade:0.4,
            title: title,
            content: url
        });
    }

    //文章状态
    function status(id, cate) {
        if (cate === 1) {
            b = ['取消订单'];
            body = '点击取消订单将取消当前订单';
            status1 = 3;
        } else if (cate === 2) {
            b = ['自动完成'];
            body = '点击自动完成将自动为该用户补充订单对应数量货品';
            status1 = 1;
        } else {
            b = ['自动完成', '取消订单'];
            body = '点击自动完成将自动为该用户补充订单对应数量货品，点击取消订单将取消当前订单'
            status1 = 1;
            status2 = 3;
        }
        layer.open({
            type: 0,
            text: '补充货物',
            content: body,
            icon: 3,
            btn: b,
            yes: function () {
                lunhui.taxi_status(id, status1, cate, '{:url("status")}');
            },
            btn2: function () {
                lunhui.taxi_status(id, status2, cate, '{:url("status")}');
            },
        });
    }

</script>

</body>
</html>