<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    {include file='layout/header'}
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>下级代理列表</h5>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->

            <!--搜索框结束-->
            <div class="hr-line-dashed"></div>
            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover text-center" >
                        <thead>
                        <tr class="text-center">
                            <th>姓名</th>
                            <th>微信号</th>
                            <th>电话</th>
                            <th>级别</th>
                            <th>状态</th>
                            <th>审核日期</th>
                        </tr>
                        </thead>
                        <tbody id="list-content">
                        {foreach $data as $v}
                        <tr class="long-td">
                            <td style="text-align: left"><a href="javascript:void(0)" onclick="xiaji({$v.id})">{$v.name}</a></td>
                            <td>{$v.wechatid}</td>
                            <td>{$v.phone}</td>
                            <td>{$v.agency}</td>
                            <td>{$v.status}</td>
                            <td>{$v.status_time==0?'':$v.status_time|date='Y-m-d H:i:s'}</td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-sm-12">
                            <a class="btn btn-danger" style="margin-top: 10px;float: right;margin-right: 5px;" href="javascript:history.go(-1);"> 返回</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 加载动画 -->


{include file="layout/footer" /}
<script>
    function xiaji(id){
        location.href="./xiaji_index/id/"+id+".html";
    }
</script>

</body>
</html>